<% include ../common/_head %>
<%# --------contents start-------- %>

<% include ../common/_header %>
<h1>
  <%= pageData.description %>
</h1>
<a href="pageA.html">Jump to pageA</a>

<script src="js/main.js"></script>

<%# --------contents end-------- %>
<% include ../common/_end %>